In [6]:
import psycopg2
import pandas as pd
import numpy as np
#import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv(r'C:\Users\xende\Downloads\AirQualityUCI.csv')
data

                                                                                                            Date;Time;CO(GT);PT08.S1(CO);NMHC(GT);C6H6(GT);PT08.S2(NMHC);NOx(GT);PT08.S3(NOx);NO2(GT);PT08.S4(NO2);PT08.S5(O3);T;RH;AH;;
10/03/2004;18.00.00;2            6;1360;150;11                 9;1046;166;1056;113;1692;1268;13 6;48 9;0                                                7578;;
10/03/2004;19.00.00;2;1292;112;9 4;955;103;1174;92;1559;972;13 3;47                             7;0  7255;;                                                NaN
10/03/2004;20.00.00;2            2;1402;88;9                   0;939;131;1140;114;1555;1074;11  9;54 0;0                                                7502;;
10/03/2004;21.00.00;2            2;1376;80;9                   2;948;172;1092;122;1584;1203;11  0;60 0;0                                                7867;;
10/03/2004;22.00.00;1            6;1272;51;6                   5;836;131;1205;116;1490;1110;11  2;59 6;0                                                7888;;
...                                                                                                                                                        ...
;;;;;;;;;;;;;;;;                 NaN                           NaN                              NaN  NaN                                                   NaN
                                                                                                     NaN                                                   NaN
                                                                                                     NaN                                                   NaN
                                                                                                     NaN                                                   NaN
                                                                                                     NaN                                                   NaN

[9471 rows x 1 columns]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 9471 entries, ('10/03/2004;18.00.00;2', '6;1360;150;11', '9;1046;166;1056;113;1692;1268;13', '6;48', '9;0') to (';;;;;;;;;;;;;;;;', nan, nan, nan, nan)
Data columns (total 1 columns):
 #   Column                                                                                                                        Non-Null Count  Dtype
---  ------                                                                                                                        --------------  -----
 0   Date;Time;CO(GT);PT08.S1(CO);NMHC(GT);C6H6(GT);PT08.S2(NMHC);NOx(GT);PT08.S3(NOx);NO2(GT);PT08.S4(NO2);PT08.S5(O3);T;RH;AH;;  6915 non-null   object
dtypes: object(1)
memory usage: 1.2+ MB

In [12]:
data.isnull().sum()

Date;Time;CO(GT);PT08.S1(CO);NMHC(GT);C6H6(GT);PT08.S2(NMHC);NOx(GT);PT08.S3(NOx);NO2(GT);PT08.S4(NO2);PT08.S5(O3);T;RH;AH;;    2556
dtype: int64

In [13]:
data.head(10)

                                                                                                            Date;Time;CO(GT);PT08.S1(CO);NMHC(GT);C6H6(GT);PT08.S2(NMHC);NOx(GT);PT08.S3(NOx);NO2(GT);PT08.S4(NO2);PT08.S5(O3);T;RH;AH;;
10/03/2004;18.00.00;2            6;1360;150;11                 9;1046;166;1056;113;1692;1268;13 6;48 9;0                                                7578;;
10/03/2004;19.00.00;2;1292;112;9 4;955;103;1174;92;1559;972;13 3;47                             7;0  7255;;                                                NaN
10/03/2004;20.00.00;2            2;1402;88;9                   0;939;131;1140;114;1555;1074;11  9;54 0;0                                                7502;;
10/03/2004;21.00.00;2            2;1376;80;9                   2;948;172;1092;122;1584;1203;11  0;60 0;0                                                7867;;
10/03/2004;22.00.00;1            6;1272;51;6                   5;836;131;1205;116;1490;1110;11  2;59 6;0                                                7888;;
10/03/2004;23.00.00;1            2;1197;38;4                   7;750;89;1337;96;1393;949;11     2;59 2;0                                                7848;;
11/03/2004;00.00.00;1            2;1185;31;3                   6;690;62;1462;77;1333;733;11     3;56 8;0                                                7603;;
11/03/2004;01.00.00;1;1136;31;3  3;672;62;1453;76;1333;730;10  7;60                             0;0  7702;;                                                NaN
11/03/2004;02.00.00;0            9;1094;24;2                   3;609;45;1579;60;1276;620;10     7;59 7;0                                                7648;;
11/03/2004;03.00.00;0            6;1010;19;1                   7;561;-200;1705;-200;1235;501;10 3;60 2;0                                                7517;;

In [14]:
data.columns

Index(['Date;Time;CO(GT);PT08.S1(CO);NMHC(GT);C6H6(GT);PT08.S2(NMHC);NOx(GT);PT08.S3(NOx);NO2(GT);PT08.S4(NO2);PT08.S5(O3);T;RH;AH;;'], dtype='object')

In [15]:
df2 = data.copy

In [18]:
conn = psycopg2.connect(dbname='jfvxbmfo',
                        user='jfvxbmfo',
                        password='yaQ4_YO5Pd4DtlmlYlKf2DDMz_TQ3mG8',
                        host='ruby.db.elephantsql.com')
cur = conn.cursor()

In [27]:
columns = ['X', 'Y', 'Date', 'Time' , 'CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)', 'PT08.S2(NMHC)',' NOx(GT)',' PT08.S3(NOx)', 'NO2(GT)',' PT08.S4(NO2)', 'PT08.S5(O3)',' T', 'RH', 'AH' ]
print(columns)

['X', 'Y', 'Date', 'Time', 'CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)', 'PT08.S2(NMHC)', ' NOx(GT)', ' PT08.S3(NOx)', 'NO2(GT)', ' PT08.S4(NO2)', 'PT08.S5(O3)', ' T', 'RH', 'AH']

In [28]:
#creating table quary

create_table_query = ''' create table air_quality(
             X INT, 
            Y INT, 
            Date DATETIME, 
            Time DATETIME, 
            CO(GT) FLOAT, 
            PT08.S1(CO) FLOAT, 
            NMHC(GT) FLOAT,
            C6H6(GT) FLOAT,
            PT08.S2(NMHC) FLOAT,
            NOx(GT) FLOAT,
            PT08.S3(NOx) FLOAT,
            NO2(GT) FLOAT,
            PT08.S4(NO2) FLOAT,
            PT08.S5(O3) FLOAT,
            T FLOAT,
            RH FLOAT,
            AH FLOAT
        )
        '''

In [ ]:
#executing the table we have created:

cur.execute(create_table_query)

for row in data[columns].iterrows():
    insert_query = '''
        INSERT INTO air_quality (X, Y,  Date, Time, CO(GT), PT08.S1(CO), NMHC(GT), C6H6(GT), PT08.S2(NMHC), NOx(GT), PT08.S3(NOx), NO2(GT), PT08.S4(NO2), PT08.S5(O3), T, RH, AH)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    '''
    cur.execute(insert_query, tuple(row))
conn.commit() 

plt.scatter(data['PT08.S1(CO)'], data['PT08.S2(NMHC)'])
plt.xlabel('PT08.S1(CO)(Unit of Measurement)')
plt.ylabel('PT08.S2(NMHC)')
plt.title('air_quality Scatter Plot')
plt.show()

cur.close()
conn.close()